<!doctype html>
<html>

<head>
    <title>OpenBar Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="menu">
    <div class="container">

        <div class="page-header text-center">
            <h1 class="title"><span class="fa fa-anchor"></span> OpenBar Menu</h1>
            <input type="text" id="search" placeholder="search">
            <button id="searchButton" onclick="getFood()">search</button>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <div class="bottom">

            <div id="pictures" class="border">
                

            </div>
            <div class="right border">
                <ul id="menu">
                </ul>
                <button id="clearMenu" onclick="clearMenu()">clear</button>
                <button id="orderButton" onclick="order()">order</button>
            </div>
        </div>
    </div>

    <script src="main.js"></script>

</body>

</html>